.decoration {
  /* font-size: 48px; */
  color: rgba(0,0,0,1);
  /* font-weight: bold; */
  /* font-style: italic; */
  font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic";
  /* line-height: 4.5; */
  /* letter-spacing: 1.5em; */
  /* text-decoration: underline; */
  /* text-decoration: Line-through; */
  /* border: solid 3px red; */
  /* border: dotted 3px red; */
  /* border: dashed 3px red; */
  /* border: double 5px red; */
  /* border-top: solid 3px red;
  border-bottom: dotted 3px blue; */
  /* border-left: dashed 3px green;
  border-right: double 3px gray; */
  /* background-color: red; */
  text-shadow: 1px 1px 2px gray;
  text-align: center;
}

.text-bold {
  font-weight: bold;
}